.foot{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    /* background: rgba(255, 182, 104, 0.3); */
    background-color: #f4d0a3;
    
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}